## LEKOUNDA NGOLO Mardochet Gédéon
### COOP MSC | DATA SCIENCE
#### ASSIGNEMENT 1 :  DATA COLLECTION
##### 20-11-2025

In [1]:
url = 'https://www.basketball-reference.com/leagues/NBA_2010_per_game.html'
# Scrape the data tables from 2010 to 2024 using pandas.read_html and clean the data

In [ ]:
import pandas as pd
data = pd.read_html(url, header = 0)
len(data) # Let's check lenght of data of url

2

In [7]:
#Use a for loop to  collect data from 2000 to 2024
df= pd.DataFrame()
for year in range(2000, 2025):
  url_page = f'https://www.basketball-reference.com/leagues/NBA_{year}_per_game.html'
  print(url_page) # Test si 2000-2024
  data = pd.read_html(url_page) # [df_page]
  df_page = data[0]
  df_page['year'] = year
  df = pd.concat([df, df_page], axis =0).reset_index(drop = True)

https://www.basketball-reference.com/leagues/NBA_2000_per_game.html
https://www.basketball-reference.com/leagues/NBA_2001_per_game.html
https://www.basketball-reference.com/leagues/NBA_2002_per_game.html
https://www.basketball-reference.com/leagues/NBA_2003_per_game.html
https://www.basketball-reference.com/leagues/NBA_2004_per_game.html
https://www.basketball-reference.com/leagues/NBA_2005_per_game.html
https://www.basketball-reference.com/leagues/NBA_2006_per_game.html
https://www.basketball-reference.com/leagues/NBA_2007_per_game.html
https://www.basketball-reference.com/leagues/NBA_2008_per_game.html
https://www.basketball-reference.com/leagues/NBA_2009_per_game.html
https://www.basketball-reference.com/leagues/NBA_2010_per_game.html
https://www.basketball-reference.com/leagues/NBA_2011_per_game.html
https://www.basketball-reference.com/leagues/NBA_2012_per_game.html
https://www.basketball-reference.com/leagues/NBA_2013_per_game.html
https://www.basketball-reference.com/leagues/NBA_2014_per_game.html
https://www.basketball-reference.com/leagues/NBA_2015_per_game.html
https://www.basketball-reference.com/leagues/NBA_2016_per_game.html
https://www.basketball-reference.com/leagues/NBA_2017_per_game.html
https://www.basketball-reference.com/leagues/NBA_2018_per_game.html
https://www.basketball-reference.com/leagues/NBA_2019_per_game.html
https://www.basketball-reference.com/leagues/NBA_2020_per_game.html
https://www.basketball-reference.com/leagues/NBA_2021_per_game.html
https://www.basketball-reference.com/leagues/NBA_2022_per_game.html
https://www.basketball-reference.com/leagues/NBA_2023_per_game.html
https://www.basketball-reference.com/leagues/NBA_2024_per_game.html

In [8]:
# df dimension (just for checking, necessairly for  )
df.shape

(15183, 32)

In [9]:
# Display of df
df.head()

,Rk,Player,Age,Team,Pos,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards,year
0,1.0,Shaquille O'Neal,27.0,LAL,C,79.0,79.0,40.0,12.1,21.1,...,9.4,13.6,3.8,0.5,3.0,2.8,3.2,29.7,"MVP-1,DPOY-2,AS,NBA1,DEF2",2000
1,2.0,Allen Iverson,24.0,PHI,SG,70.0,70.0,40.8,10.4,24.8,...,2.8,3.8,4.7,2.1,0.1,3.3,2.3,28.4,"MVP-7,AS,NBA2",2000
2,3.0,Grant Hill,27.0,DET,SF,74.0,74.0,37.5,9.4,19.2,...,5.3,6.6,5.2,1.4,0.6,3.2,2.6,25.8,"MVP-8,AS,NBA2",2000
3,4.0,Vince Carter,23.0,TOR,SF,82.0,82.0,38.1,9.6,20.7,...,4.0,5.8,3.9,1.3,1.1,2.2,3.2,25.7,"MVP-10,AS,NBA3",2000
4,5.0,Karl Malone,36.0,UTA,PF,82.0,82.0,35.9,9.2,18.0,...,7.4,9.5,3.7,1.0,0.9,2.8,2.8,25.5,"MVP-4,AS,NBA2",2000

In [10]:
# 1.1 Check for null values
print(df.isnull().any().sum())

30

In [ ]:
# 1.2 Check for null values
print(df.isnull().sum())

Rk           24
Player        0
Age          24
Team         24
Pos          24
G            24
GS           24
MP           24
FG           24
FGA          24
FG%          85
3P           24
3PA          24
3P%        2031
2P           24
2PA          24
2P%         155
eFG%         85
FT           24
FTA          24
FT%         740
ORB          24
DRB          24
TRB          24
AST          24
STL          24
BLK          24
TOV          24
PF           24
PTS          24
Awards    13020
year          0
dtype: int64

In [ ]:
#2 Handle the non-values

# Replace by N/A for non numeric columns
df['Team'] = df['Team'].fillna("N/A")
df['Pos'] = df['Pos'].fillna("N/A")
df['Awards'] = df['Awards'].fillna("N/A")

# Replace all numeric (float and int) values by his mean
for col in df.columns:
    if df[col].dtype in ['float64', 'int64']:
        df[col].fillna(df[col].mean(), inplace=True)

# df = df.fillna(df.mean(numeric_only=True)) # or this panda method do also well

In [ ]:
#3. Check for duplicated value
print(df.duplicated().sum())

In [ ]:
# 4. Handle for duplicated values
df = df.drop_duplicates()
print(df.duplicated().sum())
# Nothing to do here, because sum of duplicated values is 0

0

In [ ]:
#5. Check dtypes values
df.dtypes

Rk        float64
Player     object
Age       float64
Team       object
Pos        object
G         float64
GS        float64
MP        float64
FG        float64
FGA       float64
FG%       float64
3P        float64
3PA       float64
3P%       float64
2P        float64
2PA       float64
2P%       float64
eFG%      float64
FT        float64
FTA       float64
FT%       float64
ORB       float64
DRB       float64
TRB       float64
AST       float64
STL       float64
BLK       float64
TOV       float64
PF        float64
PTS       float64
Awards     object
year        int64
dtype: object

In [ ]:
# Exporter en CSV
df.to_csv("nba_stats_2000_2024_clean.csv", index=False)