## <font color = '#7FFFD4'> What are pandas?

**Pandas** is a Python library used to manipulate data sets.

It offers data cleaning, exploration and analysis.

### <font color = '#DEB887'> Import Pandas

In [3]:
# import pandas 
import pandas
# import pandas using alias
import pandas as pd

### <font color = '#DEB887'>  DataFrames

\
Data sets in Pandas are generally multidimensional arrays, known as data frames.

In [4]:
data = {
  "calories": [420, 390, 390, 389, 340, 350, 342, 560, 340, 490],
  "duration": [50, 40, 40, 45, 56, 39,50, 51, 42, 43]
}
# data = dict()

# dataframe

df = pd.DataFrame(data)

df

   calories  duration
0       420        50
1       390        40
2       390        40
3       389        45
4       340        56
5       350        39
6       342        50
7       560        51
8       340        42
9       490        43

####  <font color = '#FF7F50'> Show data using the loc and iloc functions

In [5]:
df.loc[0, 'calories']

np.int64(420)

In [6]:
df.iloc[0,0]

np.int64(420)

In [7]:
#the first two rows

df.loc[0:1, :]

   calories  duration
0       420        50
1       390        40

In [8]:
df.iloc[0:2, :]

   calories  duration
0       420        50
1       390        40

In [9]:
df.loc[:4, 'calories': 'duration']

   calories  duration
0       420        50
1       390        40
2       390        40
3       389        45
4       340        56

In [10]:
df.iloc[:5, [0,1]]

   calories  duration
0       420        50
1       390        40
2       390        40
3       389        45
4       340        56

In [11]:
df.iloc[:5, 0:2]

   calories  duration
0       420        50
1       390        40
2       390        40
3       389        45
4       340        56

In [12]:
#

####  <font color = '#FF7F50'> Show data using the head and tail functions

In [13]:
# view the firstt 6 rows 

df.head(6)

   calories  duration
0       420        50
1       390        40
2       390        40
3       389        45
4       340        56
5       350        39

In [14]:
df.tail(7)

   calories  duration
3       389        45
4       340        56
5       350        39
6       342        50
7       560        51
8       340        42
9       490        43

In [15]:
df.sample(5)

   calories  duration
9       490        43
7       560        51
5       350        39
1       390        40
6       342        50

### <font color = '#DEB887'>  Charger des fichiers donn√©es dans un DataFrame

In [18]:
# import data from a csv file
data_csv = pd.read_csv('data/data.csv')

# import data from a csv excel
data_excel = pd.read_excel('data/data.xlsx')

In [19]:
# show data using head
data_csv.head()

   calories  duration        date
0     420.0      50.0  2022/05/05
1     390.0      40.0  2022/05/06
2     390.0      40.0  2022/05/06
3     389.0      45.0  2022/05/07
4     340.0      56.0  2022/05/08

In [20]:
#show data using head 
data_excel.head()

   Unnamed: 0  calories  duration
0           0       420        50
1           1       390        40
2           2       390        40
3           3       389        45
4           4       340        56

In [21]:
# show the dimension of the data
data_csv.shape

(12, 3)

In [22]:
# show the dimension of the data
data_excel.shape

(10, 3)

In [23]:
# show the list of column names 
#df.columns
# show the list of column names 
data_csv.columns

Index(['calories', 'duration', 'date'], dtype='object')

In [ ]:
# rename column names
data_csv.rename(columns={'calories': 'Calories' , 
                         'duration': 'Duration' ,
                         'date': 'Date'}, inplace=True)

#data_csv = data_csv.rename(columns={'calories': 'Calories' , 'duration': 'Duration' , 'date': 'Date'})

In [25]:
# rename column names
data_csv.columns =['calories' ,'duration' , 'date']

In [26]:
# show indexes 
data_csv.index

RangeIndex(start=0, stop=12, step=1)

In [27]:
# show indexes 
data_csv.index.values

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [28]:
# change the indexes
for i in range(len(data_csv)):
    data_csv.rename(index={i:'day' +str(i)}, inplace=True)
data_csv

       calories  duration        date
day0      420.0      50.0  2022/05/05
day1      390.0      40.0  2022/05/06
day2      390.0      40.0  2022/05/06
day3      389.0      45.0  2022/05/07
day4      340.0      56.0  2022/05/08
day5      350.0      39.0  2022/05/09
day6      342.0      50.0  2022/05/02
day7      560.0      51.0  2022/05/03
day8      340.0      42.0  2022/05/10
day9      490.0      43.0  2022/05/11
day10       NaN      45.0  2022/05/12
day11     450.0       NaN  2022/05/14

In [29]:
# Describe the data 
data_csv.describe()

         calories   duration
count   11.000000  11.000000
mean   405.545455  45.545455
std     70.460434   5.502066
min    340.000000  39.000000
25%    346.000000  41.000000
50%    390.000000  45.000000
75%    435.000000  50.000000
max    560.000000  56.000000

In [30]:
# Infos of the data
data_csv.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, day0 to day11
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   calories  11 non-null     float64
 1   duration  11 non-null     float64
 2   date      12 non-null     object
dtypes: float64(2), object(1)
memory usage: 684.0+ bytes

### <font color = '#DEB887'> Pandas - Data Cleaning

In [31]:
# import data.csv
df= pd.read_csv('data/data1.csv')
df.head()

   calories  duration        date
0     420.0      50.0  2022/05/05
1     390.0      40.0  2022/05/06
2     390.0      40.0  2022/05/06
3     389.0      45.0  2022/05/07
4     340.0      56.0  2022/05/08

In [32]:
# Check the existence of null values 
df.isnull().sum()

calories    0
duration    0
date        0
dtype: int64

In [33]:
df.isnull().any().sum()

np.int64(0)

In [34]:
df.isna().sum()

calories    0
duration    0
date        0
dtype: int64

In [35]:
df.isna().any().sum()

np.int64(0)

In [ ]:
# Delete null values using dropna 
df.dropna(inplace=True)

      calories   duration        date
0   420.000000  50.000000  2022/05/05
1   390.000000  40.000000  2022/05/06
2   390.000000  40.000000  2022/05/06
3   389.000000  45.000000  2022/05/07
4   340.000000  56.000000  2022/05/08
5   350.000000  39.000000  2022/05/09
6   342.000000  50.000000  2022/05/02
7   560.000000  51.000000  2022/05/03
8   340.000000  42.000000  2022/05/10
9   490.000000  43.000000  2022/05/11
10  405.545455  45.000000  2022/05/12
11  450.000000  45.545455  2022/05/14

In [38]:
df2 = pd.read_csv('data/data.csv')
df2

    calories  duration        date
0      420.0      50.0  2022/05/05
1      390.0      40.0  2022/05/06
2      390.0      40.0  2022/05/06
3      389.0      45.0  2022/05/07
4      340.0      56.0  2022/05/08
5      350.0      39.0  2022/05/09
6      342.0      50.0  2022/05/02
7      560.0      51.0  2022/05/03
8      340.0      42.0  2022/05/10
9      490.0      43.0  2022/05/11
10       NaN      45.0  2022/05/12
11     450.0       NaN  2022/05/14

In [39]:
for col in df2.columns[:2]: 
    df2[col].fillna(df2[col].median)

In [ ]:
df2.isnull().sum()

calories    1
duration    1
date        0
dtype: int64

In [ ]:
# Replace null values by the mean
for col in df2.columns[:2]: 
    df2[col].fillna(df2[col].mean()0)
# import data.csv

In [ ]:
# Replace null values by the median 
for col in df2.columns[:2]: 
    df2[col].fillna(df2[col].median() )
# import data.csv

In [ ]:
# Replace null values by the mode 
# import data.csv

In [ ]:
# Check the types of the different variables

In [42]:
# Convert calories in integer using astype 
# import data1.csv
df.calories = df.calories.astype('int64')
df.dtypes

calories      int64
duration    float64
date         object
dtype: object

In [43]:
# convert data in datetime64 using astype 
df.date = df.date.astype('datetime64[ns]')
df.dtypes

calories             int64
duration           float64
date        datetime64[ns]
dtype: object

In [47]:
# Delete rows (axis = 0) 

df.drop([0,1],axis=0)

    calories   duration       date
2        390  40.000000 2022-05-06
3        389  45.000000 2022-05-07
4        340  56.000000 2022-05-08
5        350  39.000000 2022-05-09
6        342  50.000000 2022-05-02
7        560  51.000000 2022-05-03
8        340  42.000000 2022-05-10
9        490  43.000000 2022-05-11
10       405  45.000000 2022-05-12
11       450  45.545455 2022-05-14

In [49]:
# Delete columns (axis = 1)
df.drop(['calories','duration'],axis=1)

         date
0  2022-05-05
1  2022-05-06
2  2022-05-06
3  2022-05-07
4  2022-05-08
5  2022-05-09
6  2022-05-02
7  2022-05-03
8  2022-05-10
9  2022-05-11
10 2022-05-12
11 2022-05-14

In [50]:
# Check the existence of duplicates 
# import data2.csv

df.duplicated()

0     False
1     False
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
dtype: bool

In [51]:
df.duplicated().sum()

np.int64(1)

In [52]:
# Delete duplicates 
df.drop_duplicates()

    calories   duration       date
0        420  50.000000 2022-05-05
1        390  40.000000 2022-05-06
3        389  45.000000 2022-05-07
4        340  56.000000 2022-05-08
5        350  39.000000 2022-05-09
6        342  50.000000 2022-05-02
7        560  51.000000 2022-05-03
8        340  42.000000 2022-05-10
9        490  43.000000 2022-05-11
10       405  45.000000 2022-05-12
11       450  45.545455 2022-05-14

In [53]:
df.duplicated().sum()

np.int64(1)

In [54]:
# Download the data 

df.to_csv('data/clean_data.csv' , index=False)