## <font color = '#7FFFD4'> What are pandas?

**Pandas** is a Python library used to manipulate data sets.

It offers data cleaning, exploration and analysis.

### <font color = '#DEB887'> Import Pandas

In [ ]:
# import pandas 
import pandas
# import pandas using alias
import pandas as pd

### <font color = '#DEB887'>  DataFrames

\
Data sets in Pandas are generally multidimensional arrays, known as data frames.

In [ ]:
data = {
  "calories": [420, 390, 390, 389, 340, 350, 342, 560, 340, 490],
  "duration": [50, 40, 40, 45, 56, 39,50, 51, 42, 43]
}
# data = dict()

# dataframe

df = pd.DataFrame(data)

df

####  <font color = '#FF7F50'> Show data using the loc and iloc functions

In [ ]:
df.loc[0, 'calories']

In [ ]:
df.iloc[0,0]

In [ ]:
#the first two rows

df.loc[0:1, :]

In [ ]:
df.iloc[0:2, :]

In [ ]:
df.loc[:4, 'calories': 'duration']

In [ ]:
df.iloc[:5, [0,1]]

In [ ]:
df.iloc[:5, 0:2]

In [ ]:
#

####  <font color = '#FF7F50'> Show data using the head and tail functions

In [ ]:
# view the firstt 6 rows 

df.head(6)

In [ ]:
df.tail(7)

In [ ]:
df.sample(5)

### <font color = '#DEB887'>  Charger des fichiers donn√©es dans un DataFrame

In [ ]:
# import data from a csv file
data_csv = pd.read_csv('data.csv')

# import data from a csv excel
data_excel = pd.read_excel('data.xlsx')

In [ ]:
# show data using head
data_csv.head()

In [ ]:
#show data using head 
data_excel.head()

In [ ]:
# show the dimension of the data
data_csv.shape

In [ ]:
# show the dimension of the data
data_excel.shape

In [ ]:
# show the list of column names 
#df.columns
# show the list of column names 
data_csv.columns

In [ ]:
# rename column names
data_csv.rename(columns={'calories': 'Calories' , 
                         'duration': 'Duration' ,
                         'date': 'Date' ,})

In [ ]:
# rename column names
data_csv.columns =['calories' ,'duration' , 'date']

In [ ]:
# show indexes 
data_csv.index

In [ ]:
# show indexes 
data_csv.index.values

In [ ]:
# change the indexes
for i in range(len(data_csv)):
    data_csv.rename(index={i:'day' +str(i)}, inplace=True)
data_csv

In [ ]:
# Describe the data

In [ ]:
# Infos of the data

### <font color = '#DEB887'> Pandas - Data Cleaning

In [ ]:
# import data.csv

In [ ]:
# Check the existence of null values

In [ ]:
# Delete null values using dropna

In [ ]:
# Replace null values by the mean
# import data.csv

In [ ]:
# Replace null values by the median 
# import data.csv

In [ ]:
# Replace null values by the mode 
# import data.csv

In [ ]:
# Check the types of the different variables

In [ ]:
# Convert calories in integer using astype 
# import data1.csv

In [ ]:
# convert data in datetime64 using astype

In [ ]:
# Delete rows (axis = 0)

In [ ]:
# Delete columns (axis = 1)

In [ ]:
# Check the existence of duplicates 
# import data2.csv

In [ ]:
# Delete duplicates